Repository zfogg/libbin: changes, and which Codecov flags are due for each by the changed paths.
All: Binary Core, Bitwise Operations, Mathematical Operations, Boolean Operations, Public API Headers, Implementation, Test Framework, Edge Case Tests

now we'll upload tests
  .github/workflows/ci.yml
Due: none

Fix gethostname compilation error in C2X mode
  test/bin_tests_debug.c
Due: Binary Core, Test Framework

Add POSIX feature test macros for gethostname
  test/bin_tests_debug.c
Due: Binary Core, Test Framework

fix some rule violations. only plus + remains
  README.markdown
  src/bin.c
  src/bitwise.c
  src/math.c
Due: Binary Core, Bitwise Operations, Mathematical Operations, Implementation

no more + plus
  src/16.h
  src/bin.c
Due: Binary Core, Public API Headers, Implementation

better bin
  README.markdown
  src/16.h
  src/bin.c
  src/bitwise.c
  src/math.c
Due: Binary Core, Bitwise Operations, Mathematical Operations, Public API Headers, Implementation

fast
  Makefile
  test/bin_tests_debug.c
  test/boolean_tests.c
  test/math_tests.c
Due: Binary Core, Mathematical Operations, Boolean Operations, Test Framework, Edge Case Tests

Path conditions:
  Binary Core: any of: src/bin.*, test/bin_tests.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Bitwise Operations: any of: src/bitwise.*, test/bitwise_tests.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Mathematical Operations: any of: src/math.*, test/math_tests.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Boolean Operations: any of: src/boolean.*, test/boolean_tests.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Public API Headers: any of: src/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Implementation: any of: src/*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Test Framework: any of: test/bin_tests_debug.*, test/bin_tests.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
  Edge Case Tests: any of: test/*_tests.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, docs/**/*, README.md, Makefile
